
# python gitignore file

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
# C extensions
*.so
# Distribution / packaging
.Python
build/
develop-eggs/
eggs/
.eggs/
lib/

*temp.html
**stash**
